<div style="background-color:silver;text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;width:max-content; color: black; border-radius: 5px;padding: 5px;">
    <div style="font-size: 25px;color:darkolivegreen;">Заказ</div>
    <hr />
    <div style="font-size: 20px; text-align: start;">
        <div>Имя: {0}</div>
        <hr />
        <div>Электронная почта: {1}</div>
        <hr />
        <div>Телефон: {2}</div>
        <hr />
        <div>Товары:</div>
        <div>{3}</div>
    </div>

</div>

